@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background-color: rgb(231, 233, 235);
}

html, body {
  height: 100%;
  margin: 0;
}

/* Creating the box that contains all the content */
.mainBlock {
  position: fixed;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
  border: 1px solid rgb(94, 100, 104);
  margin: +1% +0;
}



/* Make the box responsive to different devices */



/* header */
.siteHeader, .socials{
  margin: 1%;
  margin-left: 2%;
  width:fit-content;

}


/* name */
.headerTitle {
  font-size: 50px;
}

/* description */
.headerLabel{
  font-size: 20px;
  font-weight: lighter;
}

/* menu */
.headerMenu{
  margin-top: 10%;
}

.socials{
  position: fixed;
  bottom: 4%
}


.displayBox {
  background-color: rgb(213, 217, 221);;
  width: 33.333%;
  height: 40vh;
  margin: 1.5%;
  margin-top: 6%;
  border-radius: 1.5%;
  align-items: center;
  justify-content: center;
}

.border{
  border-top: 2px solid rgb(94, 100, 104);
}

.shorten{
  width: fit-content;
}



.process *{
  margin-top: 2%;
  margin-right: 1%;
}

.projects{
  position: fixed;
  top: 17%;
  bottom: 65%;
  right: 10%;
  left: 35%;
  width: 55%; 
}


.projects > * {
  text-align: left;
  margin-bottom: 1%;
}



.bigText{
  font-size: 50px;
}

.smallText{
  font-size: 12px;
}

.icons *{
  font-size:large;
  padding: 1%
}

.greyText{
  color: rgb(172, 176, 199);
}

.gif{
  width: 50%;
  border-radius: 5%;
}

.preview{
  margin-left: 2%;
}